:root {
  --font-sans: var(--font-montserrat);
  --font-heading: var(--font-fjalla);
  --font-ui: var(--font-poppins);
}

body {
  font-family:
    var(--font-sans),
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
}

html {
  scroll-behavior: smooth;
}
